convex-hull-skyline/data_movies_clean.csv
convex-hull-skyline/skyline/records.bin
3d-rtree(trajectories)/tartanaviation_adsb_900k.csv
3d-rtree(trajectories)/flight_data_readable.csv
3d-rtree(trajectories)/.venv/*
3d-rtree(trajectories)/.idea/*
interval-segment-tree/segment-tree/dataset.txt
convex-hull-skyline/skyline/.idea/*
convex-hull-skyline/skyline/.venv/*
3d-rtree(trajectories)/records.bin


